{% extends "partials/base.html" %}



{% block content %}

  <!-- Task Grid -->  
  <div class="row g-5 mb-5" id="taskGrid">
    {% for task in tasks %}
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div 
            class="d-flex custom-card h-100" 
            style="border-color: {{ task.color }}"
            data-id="{{ task.identificator }}"> 

            <div class="flex-grow-1 text-wrap">
              <h3 class="text-break">{{ task.title }}</h3>
              <p>Today: {{ task.today_total_time }}</p>
              <p>Week: {{ task.week_total_time }}</p>
            </div>

            <div class="flex-shrink-0">
              <canvas id="myPieChart-{{ task.identificator }}" style="max-width: 150px; max-height: 150px;"></canvas>
            </div>

          </div>
        </div>
    {% endfor %}
  </div>


  <!-- Button New Task -->

  <div class="d-grid py-3 mb-5">
    <button class="btn btn-primary py-3 fs-5" type="button" data-bs-toggle="modal" data-bs-target="#newTask">New Task</button>
  </div>


  <!-- Modal New Task -->

  <div class="modal fade primary-modal" id="newTask"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newTaskLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="newTaskLabel">New Task</h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row g-3">
              <div class="col-md-10">
                <label for="taskName" class="form-label modal-label">Task Name</label>
                <input type="text" class="dark-input form-control" maxlength="30" id="taskName" placeholder="insert a task name">
                <div id="charCount" class="form-text" style="color: #fff;  font-weight: 300;">0/30 characters</div>
              </div>
              <div class="col-md-2">
                <label for="taskColor" class="form-label modal-label">Color</label>
                <input type="color" class="dark-input form-control form-control-color" id="taskColor" value="#6A17FF">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary w-100 fs-5 py-3" type="button" id="createTaskButton">Create Task</button>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h2 class="mt-5">Last 365 Days</h2>

  <div class="py-4 px-4 mt-4 mb-5" id="graph365">
    <div class="" id="github-container">
      <div id="heatmap-container"></div>
    </div>
    <div class="d-flex flex-row-reverse mt-4 gap-2" id="LessMore">
      <p class="m-0">More</p>
      <div class="d-flex gap-1">
        <div class="less-more-cell" style="background-color: #303030 ;"></div>
        <div class="less-more-cell" style="background-color: #1b3b2b;"></div>
        <div class="less-more-cell" style="background-color: #085e30;"></div>
        <div class="less-more-cell" style="background-color: #0f943b;"></div>
        <div class="less-more-cell" style="background-color: #1fc443;"></div>
      </div>
      <p class="m-0">Less</p>
    </div>
  </div>
  
  <!-- Toast message -->
  <div class="toast-container position-fixed top-0 end-0 p-3" id="toastContainer"></div>






{% endblock %}

{% block script %}
  <script>  

    const user = {
      username: "{{ user.username }}",
      user_id: "{{ user.identificator }}"
    };


    document.getElementById('taskGrid').addEventListener('click', function(event) {
      const card = event.target.closest('.custom-card');
      if (card) {
          const taskId = card.getAttribute('data-id');
          if (taskId) {
            window.location.href = `/task/${taskId}`;
          }
      }
    });



  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>


  <script src="{{ url_for('static', filename='js/my_tasks/chart_menu_tasks.js') }}"></script>
  <script src="{{ url_for('static', filename='js/my_tasks/create_task.js') }}"></script>
  <script src="{{ url_for('static', filename='js/my_tasks/jquery.heatmap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/my_tasks/last_365_days.js') }}"></script>
  <script src="{{ url_for('static', filename='js/my_tasks/in_focus_users.js') }}"></script>
  <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
  <script src="{{ url_for('static', filename='js/logout.js') }}"></script>




{% endblock %}

<!-- 
function generateLast365DaysData() {
  let data = [];
  let today = new Date();
  
  for (let i = 0; i < 365; i++) {
      let date = new Date(); // Clone the today date
      date.setDate(today.getDate() - i); // Subtract days correctly
      let formattedDate = date.toISOString().split('T')[0]; // Format YYYY-MM-DD

      zeroCount = Math.random() > 0.7 ? true : false
  
      data.push({
          date: formattedDate,
          count: Math.floor(Math.random() * 1441) //zeroCount ? 0 : Math.floor(Math.random() * 720)  
      });
  }         
  return data;
}
// [
//      { date: '2025-01-31', count: 100 }, 
//      { date: '2025-01-30', count: 50 },  
//       { date: '2025-01-29', count: 25 },  
//       { date: '2025-01-28', count: 34 }, 
//      { date: '2025-01-27', count: 550 },
//       { date: '2025-01-26', count: 440 },
//      { date: '2025-01-25', count: 203 },
//      { date: '2025-01-24', count: 45 },
//      { date: '2025-01-23', count: 67 },
//       { date: '2025-01-22', count: 87 },
//        { date: '2025-01-21', count: 102 },
//        { date: '2025-01-20', count: 720 },
//        { date: '2025-01-19', count: 78 },
//       { date: '2025-01-18', count: 102 },
//       ],  //generateLast365DaysData(), -->


<!-- $(document).ready(function () {

  fetch('/task/get_data_for_last_365_days_home_chart')
  .then(response => response.json())
  .then(data => {
      const minutes_per_day = data.data.minutes_per_day;
      console.log()
      console.log('teste ' + minutes_per_day)
      
      $('#heatmap-container').heatmap({
        data: minutes_per_day,
        cellSize: 25,
        gutter: 8,
        colors: {
            0: '#303030',
            0.25: '#1b3b2b',
            0.5: '#085e30',
            0.75: '#0f943b',
            1: '#1fc443 '
        },
        locale: 'en-US',
        debug: true // To check if data loads correctly in console
      });

      // Initialize tooltips for heatmap cells after rendering
      $('#heatmap-container').on('post.heatmap', function () {
          $('.heatmap-cell[data-bs-toggle="tooltip"]').tooltip({
              customClass: 'info-tooltip'
          });
      });

  })
  .catch(error => console.error("Erro ao carregar dados:", error));

}); -->
