{% extends "partials/base.html" %}
{% set exclude_header = true %}


{% block content %}

    <div class="my-4" id="taskTitle">
        <div id="taskTitleContent" class="d-flex align-items-center gap-4">
            <i class="bi bi-chevron-left" id="backButtom"></i>
            <span>{{ task.title }}</span>
        </div>
    </div>


    <!-- Cronômetro -->
    <div class="container text-center mb-5">
        <div class="mt-5 d-inline-block text-start"> 
            <p class="mb-3">Time in Focus Today:</p>
            <div id="timer" class="mb-4">
                <span class="display-1" id="timerDisplay">{{ task.today_total_time_timer }}</span>
            </div>
            <button class="btn btn-primary w-100 py-2 fs-4" id="timerButton">Start</button>
        </div>
    </div>

    <hr>

    <h2 class="mt-5">To Do List</h2>

    
    <div class="row g-4 my-3 to-do-grid" id="toDoGridInProgress">

        {% for to_do_item in to_do_list if to_do_item.status == 'in progress' %}

            <div class="col-md-12 to-do-item">

                <div 
                    class="d-flex justify-content-between align-items-center to-do-card "
                    data-id="{{ to_do_item.identificator }}">
        
                    <div class="to-do-text-check d-flex align-items-center me-3 flex-grow-1 text-wrap">
                        <input class="form-check-input to-do-check-box me-3 mt-0 rounded-checkbox" type="checkbox" value="" aria-label="...">
                        <span class="to-do-title mb-0 text-break">{{ to_do_item.title }}</span>
                    </div>
                    
                    <div class="d-flex flex-shrink-0" id="icons">
                        <i 
                            class="bi bi-info-circle fs-4 me-3" 
                            id="infoToDo" 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="left"
                            data-bs-custom-class="info-to-do-tooltip"
                            data-bs-html="true"
                            title="Created Time:<br>{{ to_do_item.created_time_formatted }}">
                        </i>                                             
                        <i class="bi bi-trash fs-4" id="deleteToDo" data-bs-toggle="modal" data-bs-target="#DeleteToDo"></i>
                    </div>

                </div>

            </div>

        {% endfor %}

    </div>
    

    <!-- Button New Task -->

    <div class="d-grid py-3">
        <button class="btn btn-primary py-3 fs-5" type="button" data-bs-toggle="modal" data-bs-target="#newTaskToDo">New To Do</button>
    </div>


    <div class="finished-container-collapse">
        <!-- Botão que controla o conteúdo -->
        <a 
            href="#" 
            class="text-decoration-underline text-primary details-toggler" 
            data-bs-toggle="collapse" 
            data-bs-target="#detailsContent" 
            aria-expanded="false" 
            aria-controls="detailsContent">
            Completed +/-
        </a>

    
        <!-- Conteúdo colapsável -->
        <div class="collapse mt-3" id="detailsContent">

            <div class="row g-4 my-3 to-do-grid" id="toDoGridCompleted">

                {% for to_do_item in to_do_list if to_do_item.status == 'completed' %}
        
                    <div class="col-md-12 to-do-item">
        
                        <div 
                            class="d-flex justify-content-between align-items-center to-do-card"
                            data-id="{{ to_do_item.identificator }}">
                
                            <div class="to-do-text-check d-flex align-items-center me-3 flex-grow-1 text-wrap">
                                <input class="form-check-input to-do-check-box me-3 mt-0 rounded-checkbox" type="checkbox" value="" aria-label="..." checked>
                                <span class="to-do-title mb-0 text-break"><del>{{ to_do_item.title }}</del></span>
                            </div>
                            <div class="d-flex flex-shrink-0" id="icons">
                                <i 
                                    class="bi bi-info-circle fs-4 me-3" 
                                    id="infoToDo" 
                                    data-bs-toggle="tooltip" 
                                    data-bs-placement="left"
                                    data-bs-custom-class="info-to-do-tooltip"
                                    data-bs-html="true"
                                    title=" 
                                    Created Time:<br>{{ to_do_item.created_time_formatted }}
                                    <br>
                                    Completed Time:<br>{{ to_do_item.completed_time_formatted }}">
                                </i>                                                                
                                <i class="bi bi-trash fs-4" id="deleteToDo" data-bs-toggle="modal" data-bs-target="#DeleteToDo"></i>
                            </div>
                        </div>
        
                    </div>
        
                {% endfor %}
        
            </div>

        </div>

    </div>



    <!-- Modal New Task -->

    <div class="modal fade primary-modal" id="newTaskToDo"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newTaskLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="newTaskLabel">New To Do</h3>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row g-3">
                            <div>
                                <label for="taskToDoName" class="form-label modal-label">To Do Title</label>
                                <input type="text" class="dark-input form-control" id="taskToDoName">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary w-100 fs-5 py-3" type="button" id="createTaskToDoButton">Create To Do</button>
                </div>
            </div>
        </div>
    </div>




    <!-- Delete To Do Modal -->
    
    <div class="modal fade primary-modal" id="DeleteToDo" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="DeleteToDo" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Delete To Do</h3>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the To Do item <strong id="toDoTitleModal"></strong>?</p>
                </div>
                <!-- Melhorar disposição do botões, aumentar o tamanho, mas manter lado a lado. Padrao de cor dos botões secundários -->
                <div class="modal-footer">
                    <button class="btn btn-outline-secondary fs-5 py-2" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary fs-5 py-2" type="button" id="confirmDeleteToDoButton">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Toast message -->
    <div class="toast-container position-fixed top-0 end-0 p-3" id="toastContainer"></div>



{% endblock %}


{% block script %}
    <script>       
        
        const task_data = {
            today_total_seconds: "{{ task.today_total_seconds }}",
            task_id: "{{ task.identificator }}",
            task_name: "{{ task.title }}"
        };

        const user_data = {
            user_id: "{{ user.identificator }}",
            username: "{{ user.username }}"
        }


        document.getElementById('backButtom').addEventListener('click', function() {
            window.location.href = `/task/`;
        });


    </script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/start_task/to_do_manage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
    <script src="{{ url_for('static', filename='js/start_task/timer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/start_task/tooltip_manage.js') }}"></script>


{% endblock %}
